node_modules
dist
.expo
.env
.env.*
uploads
coverage
*.tsbuildinfo
*.log
*.apk
*.aab
*.ipa
*.zip
*.png
.local-postgres*/
.android-cli-stage/
.emulator-*/
.metro-*/
.runtime-logs/
apps/server/apps/
apps/server/dev.sqlite
apps/mobile/.expo/
apps/mobile/dist/

!.env.example
!apps/**/.env.example
!docs/**/*.png
!/apps/mobile/assets/
!/apps/mobile/assets/app-icon.png
